In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
ids = pd.read_csv("/Users/gabrielarodrigocastrillo/Desktop/The_Bridge/TA/DS_PT_02_2024_repo_forked/02-Data_Analysis/02-Pandas/bank_client_id.csv")

In [3]:
ids.describe(include = "all")

          Unnamed: 0     client_ID   open_date  close_date
count   3.000000e+07  3.000000e+07    30000000    10683350
unique           NaN           NaN        4456        4455
top              NaN           NaN  1970-01-01  2024-03-12
freq             NaN           NaN      900000       13113
mean    1.500000e+07  1.500200e+07         NaN         NaN
std     8.660254e+06  8.659830e+06         NaN         NaN
min     0.000000e+00  1.000000e+00         NaN         NaN
25%     7.500000e+06  7.499922e+06         NaN         NaN
50%     1.500000e+07  1.500468e+07         NaN         NaN
75%     2.250000e+07  2.250186e+07         NaN         NaN
max     3.000000e+07  3.000000e+07         NaN         NaN